<div class="container my-5">
  <div class="card shadow-lg mx-auto" style="max-width: 700px; border-radius: 12px;">
    <div class="card-body">
      <h2 class="card-title mb-4 text-center" style="font-weight: bold; color: #2c3e50;"><%= t('auth.login') %></h2>

      <%= form_with url: sign_in_path, local: true do |form| %>
        <% if flash[:alert] %>
          <div class="alert alert-danger">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :username, t('auth.username') , class: "form-label" %>
          <%= form.text_field :username, class: "form-control", placeholder: "johndoe" %>
        </div>

        <div class="mb-3">
          <%= form.label :email, t('auth.email') , class: "form-label" %>
          <%= form.text_field :email, class: "form-control", placeholder: "john@doe.com" %>
        </div>

        <div class="mb-3">
          <%= form.label :password, t('auth.password'), class: "form-label" %>
          <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        </div>

        <div class="text-center mt-4">
          <%= form.submit t('auth.login') , class: "btn btn-primary px-4" %>
          <%= link_to t('common.cancel'), root_path, class: "btn btn-secondary ms-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
