<div class="container my-5">
  <div class="card shadow-lg mx-auto" style="max-width: 700px; border-radius: 12px;">
    <div class="card-body">
      <h2 class="card-title mb-4 text-center" style="font-weight: bold; color: #2c3e50;"><%= t('auth.editpassword') %></h2>

      <%= form_with model: Current.user, url: edit_password_path, local: true do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <h5>There were some errors:</h5>
            <ul>
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :password, t('auth.new_password') , class: "form-label" %>
          <%= form.password_field :password, class: "form-control", placeholder: "Enter new password" %>
        </div>

        <div class="mb-3">
          <%= form.label :password_confirmation, t('auth.confirm_password') , class: "form-label" %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm new password" %>
        </div>

        <div class="text-center mt-4">
          <%= form.submit t('auth.updatepassword'), class: "btn btn-primary px-4" %>
          <%= link_to t('common.cancel'), root_path, class: "btn btn-secondary ms-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
